html {
	overflow: hidden;
}



.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.drawer {
	width: 70vw;
}


.acting, .directing,.mindhousepodcast,.newsandstuff,.writing{
 display: none;

}
.acting iframe {
	margin-left: -30px;
}

.mindhousepodcast h6 a {
    color: lightgray;
}
::-webkit-scrollbar {
		display: none;
}
.drawer {
	 width: 70vw;
	 position: absolute;
	 left: 100vw;
	 height:100vh;
	 border: 0px solid black;
	 background-color: white;
	 transition: width 0.25s ease-in;
	 top:0;
	padding: 30px 60px;
}


.open {
 left: 30vw;
 top: 0px;
 padding: 30px 60px;
}


.tabs div {
 // transition: width 0.25s ease-in;
 height: calc(100vh - 60px);
 width: auto;
 overflow-y: auto;
 float: left;
 position: relative;
 margin-left: -5px;
 padding-bottom: 0px;
}

.tabs .clear {
	height: auto;
	padding-bottom: 30px;
}

.acting ul {
	list-style-type: upper-latin;
}

.directing iframe {
	max-width: 50%;
	width: 50%;
	float: left;
	padding:5px 5px;
	height: 220px;
}

.directing iframe:nth-last-of-type {
	margin-bottom: 30px;
}

#newsandstuff {
	a {
		max-width: 200px;
		width: 49%;
		padding: 1em;
		float: left;
	}
	h4 a{
		width: 49%;
		padding: 1em;
		float:left
	}
	.newslast {
		position: absolute;
		bottom: -30px;
		right: 0px;
		max-height: 350px;
		width: auto;
		z-index: 1000;
		opacity: 0.5;
	}
}
.writing {
	h4 {
		cursor: pointer;
		font-size: 2em;
		&:hover {
			color:blue;
		}
	}
	ul {
		margin:2em;
		padding:0;
		list-style:upper-latin;
		li {
			    margin: 15px 0px;
		}
		ul  {
			margin:0;
			padding:0;
			margin-left: 1em;
			list-style:none;
		}
	}
}
.writing h4 {

}

.close {
	float:right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	right: 30px;
	&:hover span{
		color: blue;
	}
}

.close span {
	background-color: black;
	width: 24px;
	height: 2px;
	display: block;
	&:hover {
		color: blue;
	}
}

.close span:first-child {
		display: block;
	transform: rotate(45deg);
}

.close span:nth-child(2){
		display: block;
	transform: rotate(-45deg);
	top: -2px;
position: relative;

}


footer {
	display: none;
}


.active-drop {
	color:blue;
}


.contact img {
	position: relative;
	bottom: 0;
	right:0;
	max-height: 300px;
	width: auto;
	float:right;
	top:10vh;
}

.fa {
	font-size: 24px !important;
}
