<div class="bags-for-tots">
  Bags for Tots
  	

<div class="gallery">
  <div class="featured">
  {% for product in collection.products %}
    {% if product.tags contains 'bags for tots' %}
      {{ product.title }}
    {% endif %}
  {% endfor %}
  </div>
</div>
</div>