<div id="bagsForTots">
		<div class="bags-for-tots bag-pop" style="display:none">
			<button id="tots-close">x</button>
			<h1> {{pages.wear-share-recycle.title}} </h1>
			 {{pages.wear-share-recycle.content}}
			 <button id="join-tots-desktop">
			 	{{settings.wear-share}}
			 </button>
		<div class="gallery">
		  <div class="featured">
		  {% for product in collection.products %}
		    {% if product.tags contains 'bags for tots' %}
		      {{ product.title }}
		    {% endif %}
		  {% endfor %}
		  </div>
		</div>
		</div>
</div>
<script>
	// Show bags for Tots Popup
	$(document).on('click',function(e){
		if ($(e.target).hasClass('.bag-pop')) {
		} else {
			$('#bagsForTots').css({'visiblity':'hidden'});
		}
	});
	// Log the product if it is clicked
	var x = 0;
	$('#join-tots-desktop').on('click',function(){
			if (x>=1) return;
			else {
					Shopify.addItem(35369401927,1);
					Shopify.onItemAdded();
					$('#join-tots-desktop').html('Thank You!');
					$('#join-tots-desktop').addClass('join-blue');
					location.href = '/cart';
					x++;
			}
     });
</script>
