<div class="mobile-wrapper">
  <div class="header-cart__wrapper">
    <a href="/cart" class="CartToggle header-cart"></a>
    <span class="header-cart__bubble cartCount{% if cart.item_count < 1 %} hidden-count{% endif %}"></span>
  </div>
  <div class="logo-wrapper {% if settings.logo_use_image %}logo-wrapper--image{% endif %}">
    {% if template == 'index' %}
      <h1 class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h4 header-logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
      {% if settings.logo_use_image %}
        <a href="/" itemprop="url">
          <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/LesGamins_Primary_Logo-01.svg?4093587489902675970" style="width:300px" alt="{{ shop.name }}" itemprop="logo" class="logo-image" onerror='this.style.display = "none"'/>
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
    {% if template == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </div>
  <a href class="menuToggle header-hamburger"></a>
</div>
<div class="header-menu nav-wrapper">
  {% comment %}
    List out your main-menu linklist (default)

    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
  {% endcomment %}
  <ul class="main-menu accessibleNav">
    {% if settings.main_menu_linklist %}
      {% assign main_menu_linklist = settings.main_menu_linklist %}
    {% else %}
      {% assign main_menu_linklist = 'main-menu' %}
    {% endif %}
    {% for link in linklists[main_menu_linklist].links %}
      {% include 'nav-item' %}
    {% endfor %}
    <li class="cart-text-link">
      <a href="/cart" class="CartToggle">
        {{ 'layout.cart.title' | t }}
        <span class="cartCost {% if cart.item_count < 1 %} hidden-count {% endif %}">(<span class="money">{{ cart.total_price | money }}</span>)</span>
      </a>
    </li>
    <li>

                <a href="/account">Log in</a>

    </li>
       <li>
         <a href="/pages/referral-program">Give $10, Get $10</a>

    </li>
     <li>
      <div class="header-search">
        <form action="/search" method="get" class="input-group search" role="search">
          {% if settings.search_only_products %}<input type="hidden" name="type" value="product">{% endif %}
          <input class="search-bar" type="search" name="q" placeholder="search"  >
          <button type="submit" class="btn search-btn"></button>
        </form>
      </div>
      </li>
  </ul>
</div>
