<div id="notifyMePopup">
	
		<div class="notifyMeinner" style="display:none">
			<button id="notifyClose">x</button>
		  <h1>Keep Me Posted</h1>
		  <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/Petit_Bateau_ninos_marineros3.jpg?18183836698786319475" alt="Bags For">
			 <div class="lowertext">
			 	 <h2>THIS ITEM IS CURRENTLY OUT OF STOCK.</h2>
			 	 <h2>IF YOU WOULD LIKE US TO NOTIFY YOU WHEN</h2>
			 	 <h2>WE HAVE MORE, PLEASE LEAVE US YOUR INFO.</h2>
			 </div>
			 <hr>
			<form action="submit">
				<label for="color"></label>
				<input id='color' type="text">
				<label for="size"></label>
				<input id='size' type="text">
				<input type="email">

				<button id="notifySend"> Send</button>

			</form>
			
		  	
		
		<div class="gallery">
		  <div class="featured">
		  {% for product in collection.products %}
		    {% if product.tags contains 'bags for tots' %}
		      {{ product.title }}
		    {% endif %}
		  {% endfor %}
		  </div>
		</div>
		</div>
	<div class="ajaxcart__overlay">
	</div>
</div>