<div id="refferral-program" style="display:none">
	<div class="ref-program">
		<button id="ref-close" onclick="refClose()">x</button>
		<div id="pop-up-logo">
			<h1>{{settings.refferal_headline}}</h1>
			<h2>{{settings.refferral_sub}}</h2>
		</div>
		<h1>
	  		<img src="{{ 'refferal_image.png' | asset_url }}" alt="Baby with Onsie"  id="ref-main-image" onerror="this.style.display = &quot;none&quot;">
	  	</h1>
	  <iframe id="refcandy-candyjar" data-id="ghv3czv5s6ndb2rxfphyv9kad" data-height="360" data-width="100%" frameborder=0></iframe>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script>

</div>
