{% unless settings.home_page_content_2 == blank or settings.home_page_content_2.empty? %}
{% assign page = pages[settings.home_page_content_2] %}

{% assign page_src = page.content | escape %}
{% if page_src contains '&lt;img' %}
  {% assign homepage_page_grid = 'one-whole' %}
{% else %}
  {% assign homepage_page_grid = 'large--five-sixths push--large--one-twelfth' %}
{% endif %}

<div class="homepage-page {{ settings.homepage_page_color_2 }}">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item {{ homepage_page_grid }}">
        {% if settings.home_page_show_title_2 %}<h4 class="home__subtitle">{{ page.title }}</h4>{% endif %}
        <div class="rte homepage-page__content">{{ page.content }}</div>
      </div>
    </div>
  </div> 
</div>
{% endunless %}
